<nav class="navbar">
  <a class="navbar-brand" href="./../index.html">Beyond Yangon</a>

  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link active" href="./../index.html">Eras</a></li>
    <li class="nav-item"><a class="nav-link" href="./../events.html">Events</a></li>
    <li class="nav-item"><a class="nav-link" href="./../cuisine.html">Cuisine</a></li>
    <li class="nav-item"><a class="nav-link" href="./../map.html">Map</a></li>
    <li class="nav-item"><a class="nav-link" href="./../aboutus.html">About Us</a></li>
  </ul>
</nav>